TELEGRAM_TOKEN = 'TELEGRAM_TOKEN'
TELEGRAM_CHATID = 'TELEGRAM_CHATID'
STARLING_WEBHOOK_SECRETS = {
    'joint': b'STARLING_WEBHOOK_SECRET_FOR_ACCOUNT_1',
    'individual': b'STARLING_WEBHOOK_SECRET_FOR_ACCOUNT_2',
}
